<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@model IEnumerable<BusReservation.Models.ProviderDetails>

<br />
<br />
<style>
    .tab {
        width: 770px;
        margin-bottom: 20px;
        background-color: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        margin-left:160px;
    }
    }
    .tableth {
        width: 120px;
        background-color: #d84e55;
        color: white;
    }
    .editform {
        width: 770px;
        margin-bottom: 20px;
        background-color: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        margin-left: 160px;
        margin-top:20px;
    }
</style>

<div class="editform" id="edit"></div>
<br /><br />
<table class="table tab">
    <tr class="tableth">
        <th bgcolor="#d84e55"style="color:white">
            <span class=" glyphicon glyphicon-flag"></span>Organization Name
        </th>
        <th bgcolor="#d84e55" style="color:white">
            <span class="glyphicon glyphicon-phone"></span>Mobile Number
        </th>
        <th bgcolor="#d84e55" style="color:white"></th>
        <th bgcolor="#d84e55" style="color:white"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganisationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Ajax.ActionLink("Update", "Edit", new { id = item.ProviderId },new AjaxOptions {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "edit"
           },new { @class="btn btn-success"})
                </td>
            <td>
                @Html.ActionLink("Remove", "ProviderDelete", new { id = item.ProviderId },new { @class="btn btn-danger"})
            </td>
        </tr>
    }

</table>



