
@{
    ViewBag.Title = "Cancel";
}
<div class="container" style="padding:0;height:350px">
    <br />
    <br />
    <h1 class="text-center">CANCELLATION</h1><br>
    <h4 style="text-align:center;margin-top:0;margin-bottom:50PX">Verify your details, and <span style="color:red">Cancel</span> your tickets </h4>
    <form action="CancelTicket"  id="cancelForm" method="post">
        <div id="ticketInput">
            <div class="tinInput col-md-4" style="margin-left:240px">
                <div class="tinheader">Ticket Number</div>
                <div class="fl search-box">
                    <div>
                        <input autocomplete="off" id="ticketNo" class="db" name="ticketNo" data-validate="required" data-message="Please enter a valid ticket number." placeholder="Enter your ticket number" type="text" pattern="[1-9].{1,5}" required>
                        <div class="error-message-fixed"> </div>
                    </div>
                </div>
            </div>
            <div class="ticketSubmit col-md-3">
                <input value="Search" class="search_btn" id="ticketSearch" type="submit">
            </div>
        </div>
    </form>
    <br />
    <br />
</div>

