
@{
    ViewBag.Title = "Passenger";
    @*if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");

        <a href="#" data-toggle="modal" data-target="#loginModal">Sign Up/Sign In</a>
    }*@
}

<h2>Passenger</h2>

